# Docker ignore file
node_modules/
npm-debug.log
Dockerfile
docker-compose.yml
.dockerignore
.git
.gitignore
.out/
.out/*
!out/.gitkeep
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
 .vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
logs
*.log
tmp/
temp/
temp/
out/temp/
public/thumbnails/
public/proxies/
public/previews/
*.aep
*.aep Logs/
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.wav
*.mp3